/* Masquer le curseur d'origine */
html, body {
  overflow-y: auto; /* Permettre le défilement vertical */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Empêche le défilement de la page */
  background-image: url('https://image.noelshack.com/fichiers/2024/07/6/1708186066-fond-de-table-1.jpg'); /* Remplacez "votre-image-de-fond.jpg" par le chemin de votre image de fond */
  background-size: cover; /* Ajuste la taille de l'image de fond pour qu'elle couvre l'ensemble du corps */
  background-position: center; /* Centre l'image de fond */
  backdrop-filter: blur(2px);
  z-index: 0;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1; /* Définissez un z-index plus élevé pour que l'image-container soit au-dessus */
}

/* Assurez-vous que l'image remplit entièrement le conteneur */
img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Utiliser 'cover' pour remplir le conteneur */
}

.image-container:hover .arrow-button {
  display: block; /* Afficher le bouton lorsqu'il est survolé */
}


.sticker-button {
  position: fixed;
  top: 2%;
  right: 80%;
  z-index: 999; /* Assurez-vous que le bouton apparaît au-dessus des autres éléments si nécessaire */
  border: none; /* Supprimer les bordures du bouton */
  background: none; /* Supprimer tout arrière-plan du bouton */
  cursor: pointer;
  padding: 5px; /* Ajouter un peu de rembourrage pour accommoder l'image agrandie */
}

.Stik {
  width: 110%; /* Augmenter légèrement la largeur de l'image */
  height: 110%; /* Augmenter légèrement la hauteur de l'image */
}


/* Faites en sorte que le curseur personnalisé suive la position de la souris */
body:hover .custom-cursor {
  transform: translate(-50%, -50%) scale(2); /* Échelle du curseur personnalisé lorsqu'il est survolé */
}

.conteneur {
  display: flex;
  justify-content: flex-end; /* Pour positionner à droite */
  align-items: center; /* Pour centrer verticalement */
  height: 100px; /* Vous pouvez ajuster cette hauteur selon vos besoins */
}

.fleche {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13vw;
  height: 25vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5%;
}